<div class="outer site-nav-main">
    <div class="inner-nav">
        <nav class="site-nav">
        <a class="site-nav-logo" href="#"><img src="/content/images/2019/12/setupshare-purp.png" alt="SetupShare"></a>
    <input class="menu-btn" type="checkbox" id="menu-btn">
    <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
        <ul class="nav" role="menu">
            <li class="nav-tactical nav-current" role="menuitem"><a href="#">Tactical</a></li>
            <li class="nav-contact nav-current" role="menuitem"><a href="#">Contact</a></li>
            <li class="nav-about" role="menuitem"><a href="#">About</a></li>
            <li class="nav-submit-setup" role="menuitem"><a class="ss-button" href="#">Submit Setup</a></li>
        </ul>

        <!--<a class="submit-setup-button" href="#submit-setup">Submit Setup</a>-->
    </nav>    
    </div>
    </div>