<div class="outer site-nav-main">
    <div class="inner-nav">
        <nav class="site-nav">
        <a class="site-nav-logo" href="{{@site.url}}"><img src="{{@site.logo}}" alt="{{@site.title}}"></a>
    <input class="menu-btn" type="checkbox" id="menu-btn">
    <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
        <ul class="nav" role="menu">
            <li class="nav-tactical nav-current" role="menuitem">{{#link href=@site.url}}Tactical{{/link}}</li>
            <li class="nav-contact nav-current" role="menuitem">{{#link href="/contact/"}}Contact{{/link}}</li>
            <li class="nav-about" role="menuitem">{{#link href="/about/"}}About{{/link}}</li>
            <li class="nav-submit-setup" role="menuitem">{{#link class="ss-button" href="/submit/"}}Submit Setup{{/link}}</li>
        </ul>

        <!--<a class="submit-setup-button" href="#submit-setup">Submit Setup</a>-->
    </nav>    
    </div>
    </div>